<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="icon" type="image/x-icon" href="/Assets/favicon.ico">
    <link rel="stylesheet" th:href="@{/css/forgotPassword.css}">
</head>
<body>
    <div id="wrapper">
        <header><img class="logo" src="../Assets/logo.png"></header>
        <div id="body">
            <h1><span>Forgotten Password</span></h1>
            <form id="forgottenPasswordForm" th:object="${forgot}" th:action="@{/forgotpassword}" method="post">
                <p class="error-message" th:if="${forgotPasswordError}" th:text="${forgotPasswordError}"></p>
                <p>Enter email address and a link will be sent to you to reset your password.</p>
                <input type="email" th:field="*{email}" placeholder="Email" required>
                <input type="submit" value="Send Email">
            </form>
        </div>
    </div>
</body>
</html>