<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Email Sent</title>
    <link rel="icon" type="image/x-icon" href="/Assets/favicon.ico">
    <link rel="stylesheet" th:href="@{/css/forgotPassword.css}">
</head>
<body>
<div id="wrapper">
    <header>
        <img class="logo" src="/Assets/logo.png" alt="Logo"/>
    </header>
    <div id="body">
        <h1><span>Check Your Email</span></h1>
        <p>If an account with that email exists, a reset link has been sent.</p>
        <a th:href="@{/}" class="buttonLink">Return to Login</a>
    </div>
</div>
</body>
</html>
