<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Change Successful</title>
    <link rel="icon" type="image/x-icon" href="/Assets/favicon.ico">
    <link rel="stylesheet" th:href="@{/css/forgotPassword.css}">
</head>
<body>
<div id="wrapper">
    <header><img class="logo" src="../Assets/logo.png"></header>
    <div id="body">
        <h1><span>Password Successfully Changed</span></h1>
        <p>You can now safely close this tab.</p>
    </div>
</body>
</html>